* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  header{
    width: 100%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 3vh;
  }
  
  hr{
    margin: 5%;
  }
  
  .roundImage{
    vertical-align: middle;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: #048b8b;
  }
  
  .sidebar{
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 100%;
    font-size: 3vh;
    color: white;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .sidebar .menu{
    display: none;
    transition: 0.5s;
  }
  
  .sidebar .menu .menuItem{
    display: block;
    text-decoration: none;
    padding: 1%;
    color: aliceblue;
    width: 100%;
  }
  
  .sidebar .menu .menuItem:hover{
    background-color: #04271a;
  }
  
  .sidebar:hover{
    left: 0;
    z-index: 1;
    .menu{
      display:inline;
      transition: 0.5s;
    }
  }
  
  .row {
    width: 100%;
  } 
  
  .row::after{
    content: "";
    clear: both;
    display: table;
  }
  
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .margin-1{margin: 1%;}
  .margin-2{margin: 2%;}
  .margin-3{margin: 3%;}
  .margin-4{margin: 4%;}
  .margin-5{margin: 5%;}
  .margin-6{margin: 6%;}
  .margin-7{margin: 7%;}
  .margin-8{margin: 8%;}
  .margin-9{margin: 9%;}
  .margin-10{margin: 10%;}
  
  .marginTop-5{margin-top: 0px;}
  .marginTop-10{margin-top: 105px;}
  .marginTop-15{margin-top: 205px;}
  .marginTop-20{margin-top: 305px;}
  .marginTop-25{margin-top: 25%;}
  .marginTop-30{margin-top: 30%;}
  .marginTop-35{margin-top: 35%;}
  .marginTop-40{margin-top: 40%;}
  
  .tx-center{text-align: center;}
  .tx-white{color: white;}
  .tx-lightgreen{color:#ffcacaf8}
  
  .tx-size{font-size: 2vh;}
  
  .bg-darkblue{background-color: #028094;}
  .bg-orange{background-color: #ec8a2e;}
  .bg-tangoblue{background-color: #6b9cc4;}
  .bg-dark{background-color: #000;}
  .borderRadius{border-radius: 10px;}
  
  .container { 
    font-size: 3vh;
    border-radius: 5px;
    background-color: aqua;
  }
  
  .itemContent{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    padding: 1px;
    border:1px solid #747474
  }
  
  .art{
    position: relative;
  }
  
  .art .thumbnail{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .art .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .art:hover .overlay{
      background-image: url("../img/svg/tik.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: .5;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in;
  }
  
  .modal{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .slide-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .slide {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 50%;
  }
  .active{
    display: flex;
  }
  .slide img{
    width: 70%;
    max-width: 500px;
    border-radius: 20px;
  }
  
  .prev, .next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    transition: .6s ease;
    border-radius: 20px;
  }
  
  .description{
    position: absolute;
    opacity: .5;
    padding: 2%;
    bottom: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
  }
  .prev{
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
  .tag-skill {
    display: inline-block;
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
  }
  
  .tag-type {
    display: inline-block;
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
  }
  
  .article {
    position: relative;
    display: block;
    border:1px solid #747474;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    min-height: 100px;
  }
  
  .article .title,.article .content{
    padding: 5px;
  }
  
  .article img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    max-width: 50%;
    z-index: -1;
  }
  
  .article:hover{
    text-decoration:underline;
    color: #ecf6ff;
  }
  
  .backtop{
    position: fixed;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 3vh;
    right: 3vh;
    font-size: 3vh;
    padding: 1%;
    z-index: 2;
  }
  
  .backtop:hover, .backtop:focus {
    background-color: darkcyan;
    color: #333 ;
    text-decoration: none;
  }
  
  .tx_bold{font-weight: bold;}
  .tx_lighter{font-weight: lighter;}
  .tx_number{font-weight: 900;}
  
  footer {
    position: absolute;
   /* bottom: 0; */
    width: 100%;
    text-align: center;
  }
  
.bottom {
  margin-bottom: 0;
}

  @media screen and (max-width:850px) {
    .container{
      margin-right: 2%;
    }
  
    .navbar {
      overflow: hidden;
      width: 100%;
    }
    
    .sidebar{
      width: 100%;
      margin: 0%;
      font-size: 3vh;
      border-radius: 0px;
    }
  
    .slide img{
      width: 100%;
      max-width: 500px;
    }
    .navbar .sidebar:hover{
      left: 0;
      z-index: 1;
      .menu{
        position: relative;
        display: block;
        transition: .5s;
      }
    }
  
    [class*="col-"] {
      display: block;
      width: 100%;
    }
  }